{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading"></span>
                    <h2 class="mb-2">Car</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-3">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="card">
                                    <tr>
                                        <td><img src="{{ asset('upload/product image/' ~ product.image) }}" height="250px" />
                                        </td>
                                        <div class="text">
                                            <div class="card-body">
                                                <h2 class="mb-0"><a href="">{{ product.name }}</a></h2>
                                                <div class="d-flex mb-2">

                                                    <p class="price ml-auto">{{ product.price }}<span>$</span></p>
                                                </div>
{#                                                                                                <div><a href="{{path('product_details',{'id':product.id})}} " class='btn btn-success'>View</a>#}
                                                                                                <div><a href="{{path('product_edit',{'id':product.id})}} " class='btn btn-warning '>Edit</a>
                                                                                                    <a href="{{ path('product_delete', {'id': product.id}) }} "class='btn btn-danger'>Delete</a></div>
                                                                                                <br>

                                                <div><p class="d-flex mb-0 d-block "><a href="#" class="btn btn-primary py-2 mr-1 ">Booknow</a> <a href="{{path('product_details',{'id':product.id})}}" class="btn btn-secondary py-2 ml-1">Details</a></p></div>
                                            </div>
                                        </div>

                                    </tr>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

